<div id="divider2">&#160;</div>
<div class="col-md-12">
	<div class="static">
		<div class="col-md-12 background">
			<h1 class="CMS">Edit your content below</h1>
			<hr class="projectSeparator" />
			<div class="col-md-12">	
				<div class="fixerScroll bottom">
					<%= render partial: 'books' %>
					<%= render partial: 'about' %>
				</div>
			</div>
		</div>
</div>
