<div id="divider2">&#160;</div>
<div class="col-md-12">
	<div class="col-md-8 col-sm-offset-2 background">

		<h1 class="formHeader">Add/edit your book's content below</h1>
		<hr class="projectSeparator" />
	
		<div class="formWrapper">	
			<%= form_for(@book) do |f| %>
				<div class="col-md-6">
					<%= f.label :title, class: 'formLabel' %><br />
		    		<%= f.text_field :title, class: 'formField' %>
					<%= f.label :boxset_link, class: 'formLabel' %><br />
			    	<%= f.text_field :boxset_link, class: 'formField' %>
				</div>
	    		<%= f.label :Book_Synopsis, class: 'formLabel' %><br />
	    		<%= f.text_area :synopsis, class: 'formArea' %>
				<%= f.label :Upload_cover_image, class: 'formLabel' %><br />
				<%= f.file_field :cover %><br /><br />
				<div class="col-md-6">
					<%= f.label :Buylink1_title, class: 'formLabel' %>
	    			<%= f.text_field :link1title, class: 'formField' %>
					<%= f.label :Buylink2_title, class: 'formLabel' %>
		    		<%= f.text_field :link2title, class: 'formField' %>
					<%= f.label :Buylink3_title, class: 'formLabel' %>
		    		<%= f.text_field :link3title, class: 'formField' %>
				</div>
				<div class="col-md-6">
					<%= f.label :buylink1, class: 'formLabel' %>
		    		<%= f.text_field :buylink1, class: 'formField' %>
					<%= f.label :buylink2, class: 'formLabel' %>
		    		<%= f.text_field :buylink2, class: 'formField' %>
					<%= f.label :buylink3, class: 'formLabel' %>
		    		<%= f.text_field :buylink3, class: 'formField' %>
				</div>
	    		<%= f.submit :class => "btn" %>
			<% end %>
		</div>
	
	</div>
</div>