<div class="formText formFade">
	<p class="formHeader">Use this form to save your text about the reaper to the site!</p><br /><br />
	<div class="form">
		<%= form_for(@reaper) do |f| %>
			<%= f.label :Reaper_text, class: 'formField' %><br />
    		<%= f.text_area :content, class: 'formFieldBox'  %><br />
    		<%= f.submit %>
		<% end %>		
	</div>
</div>