<div class="mainBody padder">
	<div class="grid6 gutter top">
		<h2 class="reaperHead">The Reaper</h2>
		<div class="reaperExcerpt"><%= simple_format(@reaper.content) %></div>
	</div>
	<div class="grid1_5">
		<h2>About</h2>
		<%= simple_format(@reaper.about) %>
	</div>
</div>
	
	

