<div class="mainBody">
	<div class="grid5 gutter">
		<h2>The Reaper</h2>
		<%= simple_format(@reaper.content, class: "reaper") %>
	</div>
	<div class="grid3 marginLeft">
		<h2>About</h2>
		<%= simple_format(@reaper.about) %>
	</div>
</div>
	
	

