<div class="introText">
	<div class="introTextWords">
		<p><span class="headings">The Reaper</span></p>
	</div> 
	
	<% if user_signed_in? %>
		<%= link_to image_tag('edit2.png'), edit_reaper_path(@reaper), :class => "editRelease2" %>
	<% end %>
</div>

<div class="description"><%= simple_format(@reaper.content) %></div>