.border {	
}
.formHeader {font-size:24px;font-weight:800;margin:25px 0px 15px 0px}
.pinkMe {color:#000000;}
.formText {
	width:945px;
	float:left;
	text-align:center;
	margin:17px auto 150px auto;
	font-size:20px;
	font-family:"palatino";
	font-weight:400;
	line-height:20px;
	color:#333333;
}
.form {
	width:600px;
	padding:25px 0px;
	margin:0px auto;
	border:3px solid #727070;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:center;
}
.formField {margin:10px 0px 0px 0px;}
.formFieldBox {width:70%;margin:1% 0% 3% 0% !important;}
.formFieldBox2 {margin:1% 0% 3% 0% !important;}
.formFieldT {margin:1% 0% 3% 0% !important;}
.formFieldF {margin:1% 0% 3% 0% !important;}
i {font-size:13px;}
.userInfo, .userInfo2 {
	width:365px;
	float:left;
	font-size:13px;
	color:#AAAAAA;
	margin:-112px 70px 0px 310px;
}
.userInfo2 {width:316px;float:left;}
.userInfo strong, .userInfo2 strong {color:#858585;}
.editLinkText {color:#ff00ff;font-family:"nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:400;}
.editLinkText a, .editLinkText2 a {
	color:#AAAAAA;
	font-family:"nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:18px;
}
.editLinkText2 a {font-size:12px;}
.artistEditLink, .artistDeleteLink {margin:-30px 0px 10px 38px;width:18px;}
.artistDeleteLink {margin:-34px 0px 10px 60px;}
.artistEditLink img, .artistDeleteLink img {max-width:100%;}
.showsAdder, .downloadCSV, .downloadCSV2, .downloadCSV3 {max-width:80px;margin:0px auto;margin-bottom:-70px}
.showsAdder img, .downloadCSV img, .downloadCSV2 img, .downloadCSV3 img {width:100%;}
.downloadCSV2 {margin-bottom:0px;}
.downloadCSV3 {position:absolute;margin:301px 0px 0px 220px;}
.editRelease, .deleteRelease, .editVideo, .deleteVideo, .editVideo2, .deleteVideo2, .editShow, .deleteShow, .newBook {float:right;max-width:22px;margin:-4px 0px 0px -2px}
.editRelease img, .deleteRelease img, .editVideo img, .deleteVideo img, .editVideo2 img, .deleteVideo2 img, .editShow img, .deleteShow img, .newBook img, .editAbout img {width:100%;}

.editRelease2 {float:left;max-width:22px;margin:-24px 0px 0px 165px;}

.editAbout {position:absolute;max-width:22px;margin:300px 0px 0px -755px;}
.editRelease2 img, .editAbout img {width:100%;}

.editRelease3 {float:left;max-width:22px;margin:-40px 0px 0px 273px;}
.editRelease3 img {width:100%;}

.fixer {margin-right:35px;}
.editVideo2, .deleteVideo2 {float:left;}
.editVideo, .deleteVideo {margin-top:-25px;}

h1 {font-size:26px;margin:15px 0px;}


@media only screen and (min-width: 480px) and (max-width: 610px) {

.formText {
	width:460px;
}
.form {
	width:400px;
}
}

@media only screen and (max-width: 479px) {
	
.formText {
	width:300px;
}
.form {
	width:300px;
}
.formField {
	width:300px;
}
.formFieldBox{
	width:200px;
	margin:2% 20% 0% 17% !important
}	
}