.more {
	width:500px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1em;
	color:#333;
	line-height:1.2em;
	margin:66px 60px 0px 0px;
	float:left;
}
.more p {
	margin:1.5em 0em;
}

.social {
	display:block;
}

.social a {
	text-decoration:none;
}

.emailForm {
	width:385px;
	margin:67px 0px 150px 0px;
	float:right;
}
.emailboxtext {
	font-family:"palatino";
	font-size:1em;
	line-height:1.4em;
	color:#333;
}
.emailboxtext p {
	padding-bottom:65px;
}

.emailboxtext h1, .more h1 {
	font-size:1.2em;
	font-weight:600;
	color:#333;
}
.thanks p {
	margin:-2.2em 0em;
}
.formContact {
	margin:-20px 0px 0px 0px;
}
