/* -------------- Basic -------------- */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font: 'Open Sans', sans-serif;
}

body.fix-body {
	overflow: hidden;
}


@media only screen and (min-width: 40.063em) {
	.row {
	padding: 0 1.5em;
	}
}

@media only screen and (max-width: 40em) {
	.row {
	padding: 0 0.6em;
	}
}

/* -------------- Preloader -------------- */

#preloader {
	z-index: 3000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FFF; /* change if the mask should have another color then white */
}

#status {
    max-width: 3.5em;
    height: auto;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-repeat:no-repeat;
    background-position:center;
    margin:-1.75em 0 0 -1.25em; /* is width and height divided by two */
    opacity: 1;
    -webkit-animation: pulsate 1.5s ease-out;
        -webkit-animation-iteration-count: infinite; 
    animation-name: pulsate;
    	animation-duration: 1.5s;
        animation-iteration-count: infinite; 
    moz-animation-name: pulsate;
    	moz-animation-duration: 1.5s;
        moz-animation-iteration-count: infinite; 
    
}

@keyframes pulsate {
    0% {opacity: 1;}
    50% {opacity: 0.1;}
    100% {opacity: 1;}
}

/* -------------- General Transitions -------------- */

a {
	-webkit-transition: all 0.4s ease-in-out;
		  -moz-transition: all 0.4s ease-in-out;
		  -o-transition: all 0.4s ease-in-out;
		  transition: all 0.4s ease-in-out;
}

a:hover {
	color: #BFAD84;
}

.sc {
	font-size: smaller;
	text-transform: uppercase;
}

.line-through {
	text-decoration: line-through;
}

.wf-loading body {
    visibility: hidden;
    display: none;
}

::-moz-selection {
	background: #BFAD84;
	color: #000;
}
::selection {
	background: #BFAD84;
	color: #000;
}

/* -------------- Top Nav Expanded Overlay -------------- */

.menu {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.88);
	left: 0;
	z-index: 99;
	top: -100%;
	transition: all .5s ease-out;
	    -moz-transition: all .5s ease-out;
	    -webkit-transition: all .5s ease-out;
	    -o-transition: all .5s ease-out;
}

.menu.openmenu {
	top: 0;
}

.main-menu {
	display: table;
	width: 100%;
	height: 100%;
}

.main-menu ul {
	display: table-cell;
	vertical-align: middle;
	padding-top: 1.5em;
}

.main-menu li {
	text-align: center;
	font: 1.65em/2.2em 'Open Sans', sans-serif; 
	font-weight:300; 
	font-style:normal;
	color: #FFF;
	z-index: 9;	
	-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
}

.main-menu li a {
	color: #FFF;
}

.main-menu li a:hover {
	color: #BFAD84;
}


/* -------------- Main Nav (Top) -------------- */

nav.top-nav{
	z-index: 1000;
	width: 100%;
	height: 80px;
	overflow: hidden;
	position: absolute;
	user-select: none;
	display: inline-block;
	vertical-align: middle;
}

nav.top-nav #logo-small {
	margin-top: 1.45em;
}

nav.top-nav #logo-small img{
	width: .9em;
}

.black a{
	color: black;
	user-select: none;
}

.black{
	color: black;
	user-select: none;
}

.white a{
	color: white;
	-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
	user-select: none;
}

.white{
	color: white;
	-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
	user-select: none;
}

#button-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	padding: 0.5em;
	user-select: none;
	
}

#button-wrapper button {
	right: 0;
	margin: 1.5em 0;
	border: none;  
	user-select: none;
	-webkit-transition: all 0.3s;
	   -webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	   -o-transition: all 0.3s;
	   transition: all 0.3s;
}

button span {
  display: block;
  user-select: none;
}

.lines-button {
  padding: 0;
  cursor: pointer;
  user-select: none;
  background: none;
}

.lines-button:focus {
	outline: none;
	user-select: none;
}

.lines-button:hover {
  opacity: 1;
}

.lines-black {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.15rem;
  transition: 0.3s;
  position: relative;
  z-index: 1000;
  user-select: none;
}

.lines-black:before, .lines-black:after {
  width: 1.5rem;
  height: 0.18rem;
  background: black;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.lines-white {
  width: 1.5rem;
  height: 0.18rem;
  background: white;
  border-radius: 0.15rem;
  transition: 0.3s;
  position: relative;
  z-index: 1000;
  user-select: none;
}

.lines-white:before, .lines-white:after {
  width: 1.5rem;
  height: 0.18rem;
  background: white;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  content: '';
  user-select: none;
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.lines-black:before {
  top: .5rem;
}
.lines-black:after {
  top: -.5rem;
}

.lines-white:before {
  top: .5rem;
}
.lines-white:after {
  top: -.5rem;
}

.lines-button.x {
	padding: 1em;
	user-select: none;
}

.lines-button.x.close .lines-black {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-black:before, .lines-button.x.close .lines-black:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
  background: #FFF;
  user-select: none;
}
.lines-button.x.close .lines-black:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lines-button.x.close .lines-black:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lines-button.x.close .lines-white {
  background: transparent;
  user-select: none;
}

.lines-button.x.close .lines-white:before, .lines-button.x.close .lines-white:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  top: 0;
  width: 1.5rem;
  background: #FFF;
  user-select: none;
}
.lines-button.x.close .lines-white:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lines-button.x.close .lines-white:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* -------------- Main Nav (Splash) -------------- */

header {
	padding-top: 2em;
	line-height: 1.4em;
}

html.touch header {
	background: #FFF;
}

header a{
	color: #201e1e;
}

header ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#logo{
	font-size: 1.4em;
	letter-spacing: 1px;
	font-family:'Raleway', sans-serif;
}

#logo-small{
	font: 1.3em/1em 'Raleway', sans-serif;
	letter-spacing: 1px;
}

@media only screen and (max-width: 40em) {
	#logo-small{
		margin-left: -.2em;
	}
}

#header-nav {
	text-align: justify;
	font-size: 0.08em;
	letter-spacing: 1px;
}

#header-nav li {
	display: inline-block;
	font-size: 12.5em;
	line-height: 1.43em;
}

#header-nav:after {
	content: '';
	display: inline-block;
	width: 100%;
}

/* -------------- Splash page -------------- */

#splash {
	display: table;
	width: 100%;
	height: 70%;
	background: #E5E5E0;
	background: url('https://s3.amazonaws.com/egh-images/splash3.png') bottom center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

@media only screen and (max-width: 40em) {
	#splash {
		height: 21em;
		-webkit-background-size: 190% auto;
		  -moz-background-size: 190% auto;
		  -o-background-size: 190% auto;
		  background-size: 190% auto;
		background-position: top center;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#splash {
		height: 38em;
		-webkit-background-size: 195% auto;
		  -moz-background-size: 195% auto;
		  -o-background-size: 195% auto;
		  background-size: 195% auto;
		background-position: center top;
	}
}

#splashcontent {
	display: table-cell;
	vertical-align: middle;
	padding-top: 3em;
}

@media only screen and (max-width: 40em) {
	#splashcontent {
		padding-top: 5em;
	}
}


#splash h1 {
	text-align: center;
	font: 3em/1.25em 'Open Sans', sans-serif;
	color: #FFF;
	z-index: 9;
	letter-spacing: 2px;
	-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
}

@media only screen and (max-width: 40em) {
	#splash h1 {
		font-size: 1.2em;
		letter-spacing: 0;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#splash h1 {
		font-size: 2.8em;
	}
}

#arrow-container {
	margin: 0 auto;
	width: 4.5em;
	height: 4.5em;
	background: none;
	border-radius: 2.25em;
	cursor: pointer;
}

#arrow {
	width: 2em;
	height: 2em;
	margin-left: 1.25em;
	fill: white;
	-webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}


@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 7px);}
    65% {-webkit-transform:translate(0, 16px);}
    to {-webkit-transform: translate(0, 7px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 7px);}
    65% {-moz-transform:translate(0, 16px);}
    to {-moz-transform: translate(0, 7px);}    
}

@media only screen and (max-width: 40em) {
	
	@-webkit-keyframes Floatingx{
	    from {-webkit-transform:translate(0, 9px);}
	    65% {-webkit-transform:translate(0, 15px);}
	    to {-webkit-transform: translate(0, 9px);    }    
	}
	    
	@-moz-keyframes Floating{
	    from {-moz-transform:translate(0, 9px);}
	    65% {-moz-transform:translate(0, 15px);}
	    to {-moz-transform: translate(0, 9px);}    
	}
}

.index-wrapper {
	background: white;
	padding: 6em 0 5em;
}

@media only screen and (max-width: 40em) {
	.index-wrapper {
		padding: 2.5em 0 0;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.index-wrapper {
		padding: 3em 0;
	}
}

.index-wrapper a {
	color: #201e1e;
}

.index-wrapper a:hover {
	color: #BFAD84;
}

/* -------------- Work Grid -------------- */

.work-wrapper {
	background: white;
	padding: 6em 0 7em;
}

@media only screen and (max-width: 40em) {
	.work-wrapper {
		padding: 7em 0 2.5em;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.work-wrapper {
		padding: 2.5em 0;
	}
}

.work-wrapper a {
	color: #201e1e;
}

.work-wrapper a:hover {
	color: #BFAD84;
}


/* -------------- Feature-Thumbnails -------------- */

.feature-thumbnails {
	margin-top: 0;
	z-index: 999;
}

.feature-thumbnails .row{
	padding-bottom: 1.667em;	
}

@media only screen and (max-width: 40em) {
	.feature-thumbnails .columns{
		padding-bottom: 2em;	
	}
}

a.view-all {
	float: right;
	padding: 2.5em 0 0em;
	color: #201e1e;
	letter-spacing: 1px;
}

@media only screen and (max-width: 40em) {
	a.view-all {
		padding: 0em 0 0em;
	}
}

/* -------------- Thumbnails-Grid -------------- */

.project-thumbnail {
	float: left;
	width: 100%;
	position: relative;
}

a.project-thumbnail .project-hover-wrapper .project-hover {
	float: left;
	background-color: rgba(0,0,0,0.85);
	position:absolute; 
	top: 0; 
	left: 0;
	bottom: 0;
	right: 0;
	padding: 2em;
	opacity: 0;
	transition: opacity .5s ease-out;
	    -moz-transition: opacity .5s ease-out;
	    -webkit-transition: opacity .5s ease-out;
	    -o-transition: opacity .5s ease-out;
	-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	a.project-thumbnail .project-hover-wrapper .project-hover {
		padding: 1em;
	}
}

a.project-thumbnail:hover .project-hover-wrapper .project-hover {
	opacity:1; 
}

.project-hover h1 {
	font-family: "Maison Neue Light", Helvetica, Arial, Sans-Serif, sans-serif;
	font-size: 1.65em;
	line-height: 1.4em;
	letter-spacing: 1px;
	color: white;
	margin-top: 0;
}
	
.project-hover p {
	font-family:"Maison Neue Mono", "Courier New", Courier, monospace;
	color: white;
	font-size: 0.9em;
}

html.touch a.project-thumbnail .project-hover-wrapper .project-hover {
	float: left;
	background-color: rgba(0,0,0,0);
	position: relative; 
	padding: 0em;
	margin-top: 1em;
	opacity: 1;
}

html.touch .project-hover h1 {
	color: #201e1e;
}

html.touch .project-hover p {
	display: none;
}

@media only screen and (max-width: 60em) {
	.project-hover h1 {
		font-family: "Maison Neue Light", Helvetica, Arial, Sans-Serif, sans-serif;
		font-size: 1em;
		line-height: 1.6em;
		letter-spacing: 1px;
		margin-top: 0;
	}
	
	.project-hover p {
		display: none;
	}
}


/* -------------- Thumbnails-Grid-Offset-Classes -------------- */

.wrap-sq-50 {
	padding-top: 16.8%;
}

/* -------------- About Content -------------- */

.content-wrapper {
	background: white;
	padding: 3.75em 0 1em;
}

@media only screen and (max-width: 40em) {
	.content-wrapper {
		padding-top: 2.5em;
		font-size: 80%;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.content-wrapper {
		padding-top: 4.5em;
	}
}

.content-wrapper h3 {
	font: 1.65em/1.4em "Maison Neue Medium", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 1.25rem;
}

@media only screen and (max-width: 40em) {
	.content-wrapper h3 {
		font: 1.4em/1.6em "Maison Neue Medium", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
	.content-wrapper h3.intro  {
		padding-bottom: 1.5em;
	}
	
}

.content-wrapper h6 {
	font-family:"Maison Neue Mono", "Courier New", Courier, monospace;
	font-size: 0.9em;
	line-height: 2em;
}

.content-wrapper .category h6 {
	margin: -.5em 0 2em;
}

@media only screen and (max-width: 40em) {
.content-wrapper .category h6 {
	margin-top: -1em;
}
}

.content-wrapper p {
	font: 1.25em/1.9em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.content-wrapper a {
	color: #201e1e;
	border-bottom: 1px dotted #858585;
	padding-bottom: 2px;
}

.content-wrapper a:hover {
	color: #BFAD84;
	border-bottom: 1px dotted #FFF;
	
}

.content-wrapper ul li{
	font: 1.25em/1.9em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.content-wrapper ul li a {
	border-bottom: 1px dotted white;
	padding-bottom: none;
}

.content-text .row{
	margin-bottom: 2.5em;
}

@media screen and (max-width:30em){
	.content-text .elsewhere { 
	-webkit-column-count: 2; /* Saf3, Chrome*/
	-webkit-column-gap: 2.5em; /* Saf3, Chrome*/
	-moz-column-count: 2; /* FF3.5+ */
	-moz-column-gap: 2.5em; /* FF3.5+ */
	column-count: 2; /* Opera 11+*/
	column-gap: 2.5em; /* Opera 11+*/
	}
}

@media screen and (min-width:30.01em) {
	.content-text .elsewhere { 
	-webkit-column-count: 3; /* Saf3, Chrome*/
	-webkit-column-gap: 2.5em; /* Saf3, Chrome*/
	-moz-column-count: 3; /* FF3.5+ */
	-moz-column-gap: 2.5em; /* FF3.5+ */
	column-count: 3; /* Opera 11+*/
	column-gap: 2.5em; /* Opera 11+*/
	}
}

/* -------------- Footer -------------- */

footer {
	width: 100%;
	height: auto;
	background: #151515;
	padding: 3.5em 0 3em;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@media only screen and (max-width: 40em) {
	footer {
		padding: 1.25em 0;
	}
}

footer a{
	color: #FFF;
}

#footer-content {
	font-family: "Maison Neue Light", Helvetica, Arial, Sans-Serif, sans-serif;
	margin-bottom: 6.2em;	
}

footer ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.6em;
}

#to-top-arrow {
	float: right;
	width: 1em;
	height: auto;
	cursor: pointer;
	-webkit-animation-name: Floatingt;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingt;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 40em) {
	#to-top-arrow {
		float: right;
		width: .8em;
		height: .5em;
	}
}

@-webkit-keyframes Floatingt{
    from {-webkit-transform:translate(0, -70px);}
    65% {-webkit-transform:translate(0, -50px);}
    to {-webkit-transform: translate(0, -70px);    }    
}
    
@-moz-keyframes Floatingt{
    from {-webkit-transform:translate(0, -2px);}
    65% {-webkit-transform:translate(0, 2px);}
    to {-webkit-transform: translate(0, -2px);    }    
}

@media only screen and (max-width: 40em) {
	@-webkit-keyframes Floatingt{
	    from {-webkit-transform:translate(0, -40px);}
	    65% {-webkit-transform:translate(0, -35px);}
	    to {-webkit-transform: translate(0, -40px);    }    
	}
	    
	@-moz-keyframes Floatingt{
	    from {-webkit-transform:translate(0, -40px);}
	    65% {-webkit-transform:translate(0, -35px);}
	    to {-webkit-transform: translate(0, -40px);    }
	}
}

#back-to-top {
	text-align: right;
}

/* -------------- Twitter -------------- */

.interact {
  display:none;
}


/* -------------- About page -------------- */

#profile {
	width: 100%;
	height: 70%;
	background: #E5E5E0;
	background: url('http://kvng.co/content/02-about/kvng_profile.jpg') top center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

@media only screen and (max-width: 40em) {
	#profile {
		height: auto;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#profile {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#profile img{
		display: none;
	}
}

/* -------------- Project Juk -------------- */

	#project-juk .header-banner {
	width: 100%;
	height: 38em;
	background: #E5E5E0;
	background: url('/content/01-work/04-juk/juk_banner_bg.jpg') center center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

@media only screen and (max-width: 64em) {
	#project-juk .header-banner {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#project-juk .header-banner img{
		display: none;
	}
}

#project-juk .header-banner .header-banner-device img {
	display: inherit;
	height: 38em;
	padding-top: 5em;
	margin: 0 auto;
}

#project-juk .image-wrap {
	width: 100%;
	background: #d1d1c6;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	margin-bottom: 3.25em;
}

@media only screen and (max-width: 64em) {
	#project-juk .image-wrap {
		height: auto;
	}
}

#project-juk .image-wrap .padding-5 img {
	display: inherit;
	max-height: 60em;
	padding: 5em 0;
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-juk .image-wrap .padding-5 img {
		padding: 5em 1.5em;
	}
}

@media only screen and (min-width: 64.063em) {
	#project-juk .image-wrap-text {
		padding: 1em 0 1.5em;
	}
}

/* -------------- Project Platter -------------- */


#project-platter .header-banner {
	width: 100%;
	height: 38em;
	background: #E5E5E0;
	background: url('/content/01-work/01-platter/platter_banner_bg') bottom center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

@media only screen and (max-width: 64em) {
	#project-platter .header-banner {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#project-platter .header-banner img{
		display: none;
	}
}

#project-platter .header-banner .header-banner-device img {
	display: inherit;
	height: 38em;
	padding-top: 5em;
	margin: 0 auto;
}

#project-platter .image-wrap {
	width: 100%;
	background: #E5E5E0;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	margin-bottom: 3.25em;
}

@media only screen and (max-width: 64em) {
	#project-platter .image-wrap {
		height: auto;
	}
}

#project-platter .image-wrap .padding-5 img {
	display: inherit;
	max-height: 60em;
	padding: 5em 0;
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-platter .image-wrap .padding-5 img {
		padding: 5em 1.5em;
	}
}

@media only screen and (min-width: 64.063em) {
	#project-platter .image-wrap-text {
		padding: 1em 0 1.5em;
	}
}

/* -------------- Project Tea Emporium -------------- */

#project-tea-emporium .content-wrapper {
	background: white;
	padding: 3.75em 0 0;
}

#project-tea-emporium .header-banner {
	width: 100%;
	height: 38em;
	background: #E5E5E0;
	background: url('/content/01-work/08-teaemporium/teaemporium_banner_bg') top center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

@media only screen and (max-width: 64em) {
	#project-tea-emporium .header-banner {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#project-tea-emporium .header-banner img{
		display: none;
	}
}

#project-tea-emporium .header-banner .header-banner-device img {
	display: inherit;
	height: 38em;
	padding-top: 6.5em;
	margin: 0 auto;
}

#project-tea-emporium .image-wrap {
	width: 100%;
	background: #d1d1c6;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	margin-bottom: 3.25em;
}

@media only screen and (max-width: 64em) {
	#project-tea-emporium .image-wrap {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#project-tea-emporium .image-wrap-text {
		padding: 1em 0 1.5em;
	}
}

#project-tea-emporium .duo{
	padding: 0 0 4em;
}

#project-tea-emporium .duo img{
	margin: 0 auto;
	width: 65em;
	height: auto;
}

@media only screen and (max-width: 64em) {
	#project-tea-emporium .duo img{
		padding: 0 1em;
	}
}

#project-tea-emporium .laptop-overlap{
	margin-bottom: -4em;
}

#project-tea-emporium .laptop-overlap img{
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-tea-emporium .laptop-overlap img{
		padding: 0 1em;
	}
}

#project-tea-emporium .image-wrap .padding-top-overlap img {
	display: inherit;
	width: 70em;
	padding: 11em 0 8em;
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-tea-emporium .image-wrap .padding-top-overlap img {
		padding: 9em 1.5em 5em;
	}
}

#project-tea-emporium .image-wrap .padding-top-overlap-2 img {
	display: inherit;
	width: 70em;
	padding: 11em 0 8em;
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-tea-emporium .image-wrap .padding-top-overlap-2 img {
		padding: 9em 1.5em 5em;
	}
}

#project-tea-emporium .image-banner {
	width: 100%;
	height: 40em;
	margin: 3em 0 6.25em;
	background: #E5E5E0;
	background: url('/content/01-work/08-teaemporium/teaemporium_banner.jpg') center center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

@media only screen and (max-width: 64em) {
	#project-tea-emporium .image-banner {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#project-tea-emporium .image-banner img{
		display: none;
	}
}

/* -------------- Project General Image Inline -------------- */

#project-general-image-inline .content-wrapper {
	background: white;
	padding: 5.5em 0 0;
}

@media only screen and (max-width: 40em) {
	#project-general-image-inline .content-wrapper {
		padding: 8.5em 0 0;
	}
}

#project-general-image-inline img {
	margin-bottom: 1.25em;
}

#project-general-image-inline hr {
  border: solid #818181;
  border-width: 1px 0 0;
  clear: both;
  margin-bottom: 2.5em;
  height: 0; }
  
/* -------------- Project Dismal Affair -------------- */
  
#project-dismal-affair .content-wrapper {
	background: white;
	padding: 3.75em 0 0;
}

#project-dismal-affair .header-banner {
	width: 100%;
	height: auto;
	background: #1f1f1f;
	}

#adismalaffair {
  position: relative;
  margin: 5em 0;
  height: 100%;
  border: solid #e7e9e3;
  border-radius: 35px;
  border-width: 4em 1.5em;
}

@media only screen and (max-width: 64em) {
	#adismalaffair {
		border: solid #e7e9e3;
		border-radius: 25px;
		border-width: 2.8em 0.8em;
		}
}

@media only screen and (max-width: 25em) {
	#adismalaffair {
	  margin: 6em 0 3em;
	  border: solid #e7e9e3;
	  border-radius: 15px;
	  border-width: 2em .5em;
	  }
}

#project-dismal-affair .image-wrap {
	width: 100%;
	background: #1f1f1f;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	margin-bottom: 3.25em;
}

@media only screen and (max-width: 64em) {
	#project-dismal-affair .image-wrap {
		height: auto;
	}
}

#project-dismal-affair .image-wrap-light {
	width: 100%;
	background: #E5E5E0;
}

@media only screen and (max-width: 64em) {
	#project-dismal-affair .image-wrap-light {
		height: auto;
	}
}

#project-dismal-affair .image-wrap-light .padding-5 img:first-child {
	display: inherit;
	width: 70em;
	padding: 5em 0 0;
	margin: 0 auto;
}

#project-dismal-affair .image-wrap-light .padding-5 img:nth-child(2) {
	display: inherit;
	width: 70em;
	padding: 5em 0;
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-dismal-affair .image-wrap-light .padding-5 img:first-child {
		padding: 5em 1.5em 0;
	}
	#project-dismal-affair .image-wrap-light .padding-5 img:nth-child(2) {
		padding: 5em 1.5em;
	}
}

#project-dismal-affair .image-wrap .padding-5 img {
	display: inherit;
	width: 65em;
	padding: 5em 0;
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-dismal-affair .image-wrap .padding-5 img {
		padding: 5em 1.5em;
	}
}

#project-dismal-affair .image-wrap .padding-5-full img {
	display: inherit;
	width: 100%;
	padding: 5em 0;
	margin: 0 auto;
}

@media only screen and (min-width: 64.063em) {
	#project-dismal-affair .image-wrap-text {
		padding: 1em 0 1.5em;
	}
}

#project-dismal-affair .duo{
	padding: 0 0 4em;
}

#project-dismal-affair .duo img{
	margin: 0 auto;
	width: 65em;
	height: auto;
}

@media only screen and (max-width: 64em) {
	#project-dismal-affair .duo img{
		padding: 0 1em;
	}
}

#project-dismal-affair .ipad-overlap{
	margin-bottom: -20em;
}

#project-dismal-affair .ipad-overlap img{
	margin: 0 auto;
	width: 35em;
}

@media only screen and (max-width: 64em) {
	#project-dismal-affair .ipad-overlap img{
		padding: 0 3em;
	}
}

#project-dismal-affair .image-wrap .padding-top-only-overlap img {
	display: inherit;
	width: 80em;
	padding: 27em 3em 0em;
	margin: 0 auto;
}

@media only screen and (max-width: 64em) {
	#project-dismal-affair .image-wrap .padding-top-only-overlap img {
		padding: 27em 1.5em 0em;
	}
}

#project-dismal-affair .image-wrap .padding-top-overlap img:first-child {
	display: inherit;
	width: 37.5em;
	padding: 30em 0 8em;
	margin: 0 auto;
}

#project-dismal-affair .image-wrap .padding-top-overlap img:nth-child(2) {
	display: inherit;
	width: 37.5em;
	padding: 0 0 8em;
	margin: 0 auto;
}


/* -------------- Project Footer Pagination -------------- */


.project-footer-nav {
	border-top: 1px solid #E2E2DE;
	padding: 1.5em 0 .5em;
}

.grouping:hover{
	color: #BFAD84;
}

.project-footer-nav p{
	font: 1.25em/1.6em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: inline-block;
	vertical-align: middle;
	color: #201e1e;
	-webkit-transition: all 0.4s ease-in-out;
		  -moz-transition: all 0.4s ease-in-out;
		  -o-transition: all 0.4s ease-in-out;
		  transition: all 0.4s ease-in-out;
}

.project-footer-nav p:hover{
	color: #BFAD84;
}

@media only screen and (max-width: 40em) {
	.project-footer-nav p {
		font-size: 80%;
	}
}

.project-footer-nav .columns:nth-child(2) {
	text-align: right;
}

.project-footer-nav p a{
	color: #201e1e;
}

.project-footer-nav p a:hover{
	color: #BFAD84;
}

.project-footer-nav-title{
	font-family:"Maison Neue Mono", "Courier New", Courier, monospace;
	font-size: 0.7em;
	line-height: 2em;
	opacity: 0.45;
}

/* -------------- Journal -------------- */

#journal .content-wrapper {
	background: white;
	padding: 5.5em 0 0;
}

@media only screen and (max-width: 40em) {
	#journal .content-wrapper {
		padding: 8em 0 0;
	}
}


#journal article .row {
	margin-bottom: 4em;
}

#journal article .flex-video {
	margin-top: 5px;
}

#journal article img {
	margin-top: 5px;
}

#journal article h3 a {
	border-bottom: 1px solid white;
}

.content-wrapper article .date h6 {
	margin: .4em 0 .2em;
}

@media only screen and (max-width: 40em) {
	.content-wrapper article .date h6 {
		margin-top: -1em;
	}
}

#journal article .image-caption p {
	margin-bottom: 0;
}

#journal article .credit {
	margin: 0.2em 0 1.25em;
	font-size: .8em;
	color: #a7a7a7;
}

#journal article .credit p {
	font-family:"Maison Neue Mono", "Courier New", Courier, monospace;
	font-size: 0.9em;
	line-height: 2em;
}

#journal article .credit a{
	color: #a7a7a7;
	border-bottom: 1px solid white;
}

#journal article .credit a:hover{
	color: #BFAD84;
}

#journal article h6.share {
	color: #a7a7a7;
}

#journal article h6.share a {
	color: #a7a7a7;
	border: none;
}

#journal article h6.share a:hover {
	color: #BFAD84;
}

/* -------------- Discoveries -------------- */

#discoveries .header-banner {
width: 100%;
height: 38em;
background: #E5E5E0;
background: url('/assets/img/discoveries.jpg') center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 64em) {
	#discoveries .header-banner {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#discoveries .header-banner img{
		display: none;
	}
}

#discoveries ul.simple-list li{
	font: 0.9em/1.4em "Maison Neue Mono", "Courier New", Courier, monospace;
	margin-top: 0.61em;
}

#discoveries ul.simple-list li:first-child{
	margin: 0;
}

#discoveries ul.simple-list li:last-child{
	margin-bottom: 1.5em;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#discoveries ul.simple-list {
		-webkit-column-count: 3; /* Saf3, Chrome*/
		  -webkit-column-gap: 4%; /* Saf3, Chrome*/
		  -moz-column-count: 3; /* FF3.5+ */
		  -moz-column-gap: 4%; /* FF3.5+ */
		  column-count: 3; /* Opera 11+*/
		  column-gap: 4%; /* Opera 11+*/
	}
}

@media only screen and (max-width: 40em) {
	#discoveries ul.simple-list {
		-webkit-column-count: 2; /* Saf3, Chrome*/
		  -webkit-column-gap: 4%; /* Saf3, Chrome*/
		  -moz-column-count: 2; /* FF3.5+ */
		  -moz-column-gap: 4%; /* FF3.5+ */
		  column-count: 2; /* Opera 11+*/
		  column-gap: 4%; /* Opera 11+*/
	}
}

@media only screen and (min-width: 64em) {
	#discoveries .complex-list .columns:first-child{
	padding-right: 1.175em;	
	}
	#discoveries .complex-list .columns:nth-child(2){
	padding: 0 0.9em;	
	}
	#discoveries .complex-list .columns:last-child{
	padding-left: 1.175em;	
	}
}

#discoveries .complex-list p{
	font: 1.1em/1.4em "Maison Neue Mono", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: .35em;
}

#discoveries .complex-list p a{
	border-bottom: 1px solid white;
}

#discoveries .complex-list h6{
	font: 1em/1.6em "Maison Neue Light", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #a7a7a7;
	margin-bottom: 1.25em;
	letter-spacing: 1px;
}

#discoveries .complex-list h6 a{
	color: #a7a7a7;
	padding-bottom: 0;
}

#discoveries .complex-list h6 a:hover{
	color: #BFAD84;
}

@media only screen and (max-width: 40em) {
	#discoveries .complex-list h6 a{
		padding-bottom: 0;
	}
}

/* -------------- Error Page -------------- */

#error .content-wrapper {
	background: white;
	padding: 3.75em 0 0;
}

#error .header-banner {
	width: 100%;
	height: 38em;
	background: #E5E5E0;
	background: url('/assets/img/peaches.jpg') center center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

@media only screen and (max-width: 64em) {
	#error .header-banner {
		height: auto;
	}
}

@media only screen and (min-width: 64.063em) {
	#error .header-banner img{
		display: none;
	}
}

a {text-decoration:none!important;}
.quote {font-family:'Open Sans', sans-serif;font-size:1.3em;line-height:1.35em;margin-bottom:0.5em;font-weight:100;}
.reviewSource {font-family:'Open Sans', sans-serif;font-weight:700;font-size:0.9em;}
