body#books_the-chamber a#the-chambernav,
body#books_the-black-gate a#the-black-gatenav,
body#reapers_ a#reapernav,
body#writings_ a#morenav,
body#contacts_ a#aboutnav {
color:#feb04b;
}
.navigation, .navigation2 {float:right;margin-top:14px;}
.navigation2 {display:none;}
nav {height: 40px;width: 100%;position: relative;}
nav li {display: inline;float: left;}
nav li:nth-child(1),
nav li:nth-child(2),
nav li:nth-child(3),
nav li:nth-child(4) {
	margin-right:25px;
}
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {clear: both;}  
.clearfix {*zoom: 1;}
nav a {  
    font-family: 'Raleway', 'sans-serif';
	font-weight:500;
	color:#181818;
	font-size:17px;
	line-height:18px;
    display: inline-block;  
    text-align: right;  
    text-decoration: none;
}


@media screen and (max-width: 768px) { 
	.navigation {display:none;}
	.navigation2 {display:block;margin-top:-56px;}
	.container, body {width:100%;margin:0 0px 0px 3.061%;}
	#logoETC {display:none;}
	
	
	.menuBlock {position:absolute;margin-top:-38px;z-index:1000;}
	.menu {display:none;}
	
    nav {   
        height: auto;
		width:100%;
		margin-left:-6%;
  		background-color:#feb04b;
    }  
    nav ul { 
        display: block;  
        height: auto;  
    }  
    nav li {  
        width:100%;
        float: left;  
        position: relative;  
    }  
    nav li a {
	  	color:#ffffff;
		padding:9px 0px 9px 0px;
        border-bottom: 1px solid #ffffff;  
        border-right: 1px solid #ffffff;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent:12px;  
    }
	
	nav h1 {
		color:#ffffff;
		font-size:32px;
		width:100%;
		text-align:center;
		padding:9px 0px 9px 0px;
        border-bottom: 1px solid #ffffff;  
        border-right: 1px solid #ffffff;
	}
}













