* {
	margin: 0;
}
p {
	margin:0em 0em;
}
html, body {
	height:100%;
	width:945px;
	margin:0 auto;
	background-color:#f7f7f7;
	background-image:url('gri.png');
	background-repeat:repeat-x;
}
.container {
	width:100%;
	min-height: 100%;
	height: auto !important;
	margin:0 auto;
	float:left;
	clear:right;
}
.headings {
	font-weight:800;
	color:#333;
}
.mainImg {
	float:left;
	margin:45px 0px 0px 15px;
	max-width:915px;
}
.mainImg img {
	width:915px;
}
.introText {
	float:left;
	margin:34px 0px 31px 0px;
	height:100px;
	width:945px;
	background-image:url('introbackground.png');
}
.introTextWords {
	margin:22px 20px 0px 20px;
	font-family:"palatino";
	font-size: 1.4em;
	color:#666;
	line-height:1.2em;
}
a, a:visited { color: #333; text-decoration: underline; outline: 0; }