<div class="col-md-12">
	<div id="divider">&#160;</div>
	<p class="footerText">
		<a href="http://eghamilton.co.uk" target="_blank"> madebyeggs</a>
		|| &copy; <%= Time.now.year %> Dominic H. King
	</p>
</div>