<div id="outer">
	<div class='<%= which_page %>'>
		<p><a href="http://eghamilton.co.uk" target="_blank"> Made by Ed</a><span class="pipes">||<span class="copyright">&copy; <%= Time.now.year %> Dominic H. King</span></p>
	</div>
</div>